<div class="pool-container">
    <span class="pool-departure-container">
        <span class="date">{{date}}</span>
        <span class="month">{{month}}</span>
    </span>
    <span class="pool-detail-container">
        <span class="driver">{{driver}}</span>
        <span class="capacity">{{capacity}}</span>
        <span class="departureTime">{{departureTime}}</span>
    </span>
</div>
<div class="spacer"></div>