<div class="container">
    <div class="section-container">
        <section class="section">
            <div class="section-title">
                <h1 class="title event-heading">
                    {{name}}
                </h1>
            </div>
            <div class="section-container">
                <div class="text-container event-details-container">
                    <h2 class="event-details-heading">
                        Details
                    </h2>
                    <dl class="event-details">
                        <dt class="event-detail-label dt-inline">Host</dt>
                        <dd class="event-detail-info dd-inline">{{host}}</dd>

                        <dt class="event-detail-label dt-inline">Time</dt>
                        <dd class="event-detail-info dd-inline">{{date}} {{startTime}}</dd>

                        <dt class="event-detail-label dt-inline">Address</dt>
                        <dd class="event-detail-info dd-inline">{{displayAddress}}</dd>

                        <dt class="event-detail-label">Description</dt>
                        <dd class="event-detail-info">{{description}}</dd>
                    </dl>
                </div>
                <div class="text-container event-carpool-container">
                    <h2 class="event-details-heading">
                        Carpools
                    </h2>
                    <dl class="event-details">
                        <dt class="event-detail-label dt-inline">Capacity</dt>
                        <dd id="capacity" class="event-detail-info dd-inline">{{occupied}}/{{capacity}}</dd>

                        {{! TODO Client side js to render carpools here }}
                        {{! TODO To join an event, you must join a carpool with open seats }}
                    </dl>
                </div>
                <div class="container">
                    <div id="pools" class="section-container">
                        <section class = "section">
                            <div class = "pool-calendar">
                                {{> poolhost}}
                                <div id="poolList" class="pool-list">

                                </div>
                                <div id="host-modal" class="modal-box">
                                    <div class="modal-content">
                                        <h1 class="modal-title">Host a Pool</h1>
                                        <form id="host-pool-form" method="POST" autocomplete="off">
                                            <div id="host-pool-error" class="modal-error" hidden>
                                            </div>

                                            <div class="profile-form-item host-event-4">
                                                <input id="host-pool-departureTime" class="event-col-3" name="time" type="datetime-local"
                                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required />
                                                <label class="col-3-label" for="host-pool-departureTime">Time</label>

                                                <input id="host-pool-capacity" class="event-col-1" name="capacity" type="number"
                                                    min="1" required />
                                                <label class="col-1-label" for="host-pool-capacity">Capacity</label>
                                            </div>
                                            <input type="hidden" id="eventId" value={{id}}>
                                            {{!-- <input type="hidden" id="currentUser" value={{currentUser}}> --}}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <span id="event-close-btn" class="modal-close">&times;</span>

                        </section>
                    </div>

                    {{> footer}}
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                    <script src="/public/js/poolList.js"></script>
                </div>
        </section>
    </div>
</div>