<div class="container">
    <div class="section-container">
        <section class="section">
            <div class="section-title">
                <h1 class="title event-heading">
                    {{name}}
                </h1>
            </div>
            <div class="section-container">
                <div class="text-container event-details-container">
                    <h2 class="event-details-heading">
                        Details
                    </h2>
                    <dl class="event-details">
                        <dt class="event-detail-label dt-inline">Host</dt>
                        <dd class="event-detail-info dd-inline">{{host}}</dd>

                        <dt class="event-detail-label dt-inline">Time</dt>
                        <dd class="event-detail-info dd-inline">{{date}} {{startTime}}</dd>

                        <dt class="event-detail-label dt-inline">Address</dt>
                        <dd class="event-detail-info dd-inline">{{displayAddress}}</dd>
                                
                        <dt class="event-detail-label">Description</dt>
                        <dd class="event-detail-info">{{description}}</dd>
                    </dl>
                </div>
                <div class="text-container event-carpool-container">
                    <h2 class="event-details-heading">
                        Carpools
                    </h2>
                    <dl class="event-details">
                        <dt class="event-detail-label dt-inline">Capacity</dt>
                        <dd id="capacity" class="event-detail-info dd-inline">{{occupied}}/{{capacity}}</dd>
                        
                        {{!-- TODO Client side js to render carpools here --}}
                        {{!-- TODO To join an event, you must join a carpool with open seats --}}
                        {{#each carpools}}
                        
                            
                                <div class="col-6">
                                    <p>{{this.driver}}</p>
                                    <p class="mb-2">Capacity {{this.capacity}}</p>
                                </div>

                                <div class="col-6">
                                     <a href="/pool/{{this._id}}" class="btn align-center text-small btn-2">Join Pool</a>
                                    {{!-- <p>{{this.phone}}</p> --}}
                                </div>
                        
                        {{/each}}
                        {{#if isUserDriver}}
                        <div class="row mb-4 pb-2" >
                            <div class="col-12">
                            <a href="/events/{{eventID}}/leave" class="btn align-center text-small btn-2">Leave Drivers</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="row mb-4 pb-2" >
                            <div class="col-12" style="text-align: center">
                            <a href="/events/{{eventID}}/join" class="btn align-center text-small btn-2">Become a Driver</a>
                            </div>
                        </div>
                        {{/if}}
                    </dl>
                </div>
            </div>
        </section>
    </div>
</div>