{{! https://mdbootstrap.com/docs/standard/extended/news-feed/#blog }}
<a href="/">
    <img class="pooler-logo" src="/public/imgs/pooler.png" alt="Pooler" />
</a>
<div class="card px-3 pt-3" style="max-width: 32rem; margin:auto; transform: translate(0, 25%);">
    <div>
        <div id="client-error" hidden>

        </div>
        <div class="row mb-3">
            <div class="col-6">
                <a href="/events/view/{{_eventID}}" class="text-info">
                    <i class="fas fa-car"></i>
                    {{_eventName}}
                </a>
            </div>

            <div class="col-6 text-end">
                <u>{{_departureTime}}</u>
            </div>
        </div>

        <!-- Article title and description -->
        <a href="" class="text-dark">
            <h5>Driver: {{_driverName}}</h5>
            <p>Capacity: {{_numMembers}}/{{_capacity}}</p>
        </a>

        <hr />

        {{#each _memberData}}
            <div class="row mb-4 border-bottom pb-2">
                <div class="col-3">
                    <p>Passenger</p>
                </div>

                <div class="col-9">
                    <p class="mb-2"><strong>{{this.firstName}} {{this.lastName}}</strong></p>
                    <p>{{this.phone}}</p>
                </div>
            </div>
        {{/each}}

        <!-- News -->
        {{#if _isUserInPool}}
            <div class="row mb-4 pb-2">
                <div class="col-12">
                    <a href="/pool/{{_poolId}}/leave" class="btn align-center text-small btn-2 leavePool">Leave</a>
                </div>
            </div>
        {{else}}
            <div class="row mb-4 pb-2">
                <div class="col-12" style="text-align: center">
                    <a href="/pool/{{_poolId}}/join" class="btn align-center text-small btn-2 joinPool">Join</a>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="comments-list" id="comments-list">

    </div>
    <form id="create-comment-form" action="/pool/{{_poolId}}/createComment" method="POST">
        <label for="createCommentDescription">Comment</label>
        <textarea id="createCommentDescription" name="createCommentDescription" required></textarea>
        <button class="comment-button" type="submit">Submit</button>
        <input type="hidden" id="poolId" value={{_poolId}}>
        <input type="hidden" id="userEmail" value={{email}}>
    </form>
    <!-- News block -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src='/public/js/pool.js'></script>