{{!-- referenced https://codepen.io/Shokeen/pen/XXggZr --}}
<section>
    <div class="container-fluid">
        <h1>Profile</h1>
        <div id="client-error" class="row" hidden>
                    
        </div>
        <button id="editBtn">
            Edit Profile
        </button>
        <form id="edit-profile-form" action="/profile" method="POST">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        {{!-- need to populate with actual variables --}}
                        <h2>Account Information</h2>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="email" name="email" type="email" readOnly='true' value="{{email}}" class="form-control form-control-lg" required />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="firstName" name="firstName" type="text" readOnly='true' value="{{firstName}}" class="edit-field form-control form-control-lg" required />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="lastName" name="lastName" type="text" readOnly='true' value="{{lastName}}" class="edit-field form-control form-control-lg" required />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="phone" name="phone" type="tel" readOnly='true' value="{{phone}}"class="edit-field form-control form-control-lg" required />
                            </div>
                        </div>
                    </div>
                </div>         
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2>Personal Information</h2>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Venmo</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="venmo" name="venmo" type="text" readOnly='true' value='{{venmo}}' class="edit-field form-control form-control-lg" required />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Street Address</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="street" name="street" type="text" readOnly='true' value='{{street}}' class="edit-field form-control form-control-lg" required />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">City</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="city" name="city" type="text" readOnly='true' value='{{city}}' class="edit-field form-control form-control-lg" required />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Zipcode</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="zipcode" name="zipcode" type="number" readOnly='true' value='{{zipcode}}' class="edit-field form-control form-control-lg" required />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">State</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-outline form-white">
                                    <select class="form-select pb-0" value='{{state}}' aria-label="state" id="state"
                                        name="state" required
                                        data-value={{state}} 
                                        onfocus="this.setAttribute('data-value', this.value);" 
                                        onchange="this.value = this.getAttribute('data-value');"
                                        >
                                        <option class="edit-option" selected>{{state}}</option>
                                        {{#each states}}
                                        <option class="edit-option" value={{this}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">I am a driver</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="edit-field form-check-input" checked='{{isDriver}}' readOnly='true' type="checkbox" value="" id="isDriver" name="isDriver"/>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" id="saveChangesBtn" disabled='true'>
                            Save Changes
                        </button> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript" src="/public/js/validateProfile.js"></script>